/* CSS for intro section */

.intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.intro-left-side,
.intro-right-side {
    padding: 0 20px;
}

.intro-left-side {
    width: 35%;
}

.intro-right-side {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-img-container {
    background-color: #444;
    border: 18px solid #444;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 80%);
    display: block;
    position: relative;
    /* width: 100%; */
    padding-bottom: calc(100% - 36px);
    border-radius: 1000px;
    overflow: hidden;
}

.plofile-img {
    background-image: url("./avatar1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    width: auto;
    left: -18px;
    right: -18px;
    box-sizing: border-box;
}

.my-title {
    color: #aaa;
}

.my-name {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
}

.my-buttons {
    margin-top: 20px;
    display: flex;
}

.my-description {
    color: #d5d5d5;
    font-size: 14px;
    line-height: 1.75em;
}

.button-portfolio {
    border-color: #0a9b94;
    margin-right: 10px;
}

.button-portfolio:hover {
    background-color: #0a9b94;
}

.button-contact {
    border-color: #D5D5D5;
}

.button-contact:hover {
    background-color: #D5D5D5;
    color: #333;
}

.sns-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.sns-icons>img {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

/* media query */

/* Extra large devices */
@media screen and (min-width: 992px) {}

/* Large devices */
@media screen and (max-width: 991.98px) {}

/* Medium devices */
@media screen and (max-width: 767.98px) {
    .intro-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-left-side {
        width: 55%;
    }

    .my-title {
        margin: 20px 0;
    }

    .my-name {
        margin-bottom: 0;
    }

    .intro-right-side {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Small devices */
@media screen and (max-width: 575.98px) {
    .my-name {
        text-align: center;
    }

}