/* CSS for skill section */
.skills {
    display: flex;
    background-color: aqua;
}

.skill {
    padding: 0 15px;
    display: flex;
}

.skill>img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.skill-name {
    margin: 7px 0;
}