 /* Contact form section */

 .contact-form {
     display: flex;
     flex-direction: column;
 }

 .contact-form>input,
 textarea {
     border: 2px solid #bfbfbf;
     border-radius: 5px;
     outline: none;
     font-size: 1em;
     padding: 10px 25px 10px 12px;
     background: 0 0;
     color: #fff;
     transition: 0.5s;
 }

 .contact-form>input {
     margin-bottom: 15px;
 }

 .contact-form>textarea {
     resize: vertical;
 }

 .contact-form>input:focus,
 textarea:focus {
     border-color: #0a9b94;
 }

 .button-submit {
     width: 200px;
     border-color: #0a9b94;
     margin: 15px auto 0 auto;
 }

 .button-submit:hover {
     background-color: #0a9b94;
 }