/* Contact form section */
.contactSectionContainer {
  display: flex;
}

.snsIcons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.snsIcons > a{
  margin: 0 15px;
}

.snsIcons > a:hover {
  transition: 0.5s;
  transform: translateY(-4px);
}

.myName {
  font-size: 25px;
}

.location {
  margin: 0;
  font-weight: bold;
}

.contactIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.contactIntroDetail {
  line-height: 1.5;
  width: 70%;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 20px;
}

.contactForm > input,
.contactForm > textarea {
  border: 2px solid #bfbfbf;
  border-radius: var(--dfltBrdrRadius);
  outline: none;
  font-size: 1em;
  padding: 10px 25px 10px 12px;
  background: 0 0;
  color: var(--whiteClr);
  transition: 0.5s;
}

.contactForm > input {
  margin-bottom: 15px;
}

.contactForm > textarea {
  resize: vertical;
}

.contactForm > input:focus,
.contactForm > textarea:focus {
  border-color: var(--primaryClr);
}

.buttonSubmit {
  width: 200px;
  border-color: var(--primaryClr);
  margin: 15px auto 0 auto;
}

.buttonSubmit:hover {
  background-color: var(--primaryClr);
}

.buttonSubmit:disabled {
  background-color: #031918;
}

/* media query */

/* Extra large devices */
@media screen and (min-width: 992px) {
}

/* Large devices */
@media screen and (max-width: 991.98px) {
}

/* Medium devices */
@media screen and (max-width: 767.98px) {

  .contactSectionContainer {
    flex-direction: column;
  }

  .contactIntro {
    width: 100%;
    margin-bottom: 40px;
  }

  .contactForm {
    width: 100%;
  }
}

/* Small devices */
@media screen and (max-width: 575.98px) {
  .contactForm {
    padding: 0;
  }
}
