/* body {
    font-family: "Poppins", Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    margin: 0;
} */

.sections {
    padding: 20px;
}

.wrapper {
    margin: 5% auto;
}

.sectionTitle {
    display: inline-block;
    position: relative;
    font-size: 21px;
    padding-bottom: 7px;
}

.sectionTitle::before {
    background-color: #353535;
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
}

.sectionTitle::after {
    background-color: #0a9b94;
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    bottom: 0;
}

.button {
    cursor: pointer;
    color: #fff;
    background-color: #333;
    box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
    padding: 0.6em 2.1em;
    border-radius: 30px;
    line-height: 1.2;
    font-size: 1em;
    border: 2px solid black;
    transition: 0.5s;
}

/* media query */

/* Extra large devices */
@media screen and (min-width: 992px) {
    .wrapper {
        width: 80%;
    }
}

/* Large devices */
@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }
}

/* Medium devices */
@media screen and (max-width: 767.98px) {
    .sections {
        padding: 20px 50px;
    }
}

/* Small devices */
@media screen and (max-width: 575.98px) {
    .sections {
        padding: 20px 10px;
    }
}