/* body {
    font-family: "Poppins", Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #222;
    color: var(--whiteClr);
    font-size: 16px;
    margin: 0;
} */

.sections {
  padding: 20px 20px;
  background-color: var(--dfltBgClr);
  color: var(--dfltTxtClr);
}

.wrapper {
  margin: 60px auto;
  opacity: 0;
}

.fadeUp {
  opacity: 0;
  animation-name: fadeUpAnime;
  animation-delay: 0.3s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sectionTitle {
  color: var(--whiteClr);
  display: inline-block;
  position: relative;
  font-size: clamp(24px, 5vw, 30px);
  padding-bottom: 7px;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 60px;
}

.sectionTitle::before {
  background-color: #353535;
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0;
}

.sectionTitle::after {
  background-color: var(--primaryClr);
  display: block;
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  bottom: 0;
}

.button {
  cursor: pointer;
  color: var(--whiteClr);
  background-color: #333;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
  padding: 0.6em 0;
  border-radius: var(--dfltBrdrRadius);
  line-height: 1.2;
  font-size: 1em;
  border: 2px solid var(--primaryClr);
  transition: 0.2s;
  background: linear-gradient(to left, var(--dfltBgClr) 50%, var(--primaryClr) 50%) right;
  background-size: 200% 100%;
  font-weight: bold;
  width: var(--button);
}

.button:hover {
  background-position: left;
}

.displaDelay100 {
  animation-delay: 100ms;
}

.displaDelay200 {
  animation-delay: 200ms;
}

.displaDelay300 {
  animation-delay: 300ms;
}

.displaDelay400 {
  animation-delay: 400ms;
}

.displaDelay500 {
  animation-delay: 500ms;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* media query */

/* Larger than Extra large devices */
@media screen and (min-width: 1440px) {
  .wrapper {
    width: 65%;
    max-width: 1300px;
  }
}

/* Extra large devices */
@media screen and (max-width: 1439px) {
  .wrapper {
    width: 70%;
    max-width: 1300px;
  }
}

/* Large devices */
@media screen and (max-width: 991.98px) {
  .wrapper {
    width: 90%;
  }
}

/* Medium devices */
@media screen and (max-width: 767.98px) {
  .sections {
    padding: 20px 50px;
  }

  .wrapper {
    margin: 30px auto;
  }

  .sectionTitle {
    margin-bottom: 30px;
  }

  .button {
    width: var(--buttonResp1);
  }
}

/* Small devices */
@media screen and (max-width: 575.98px) {
  .wrapper {
    width: 95%;
  }

  .sections {
    padding: 20px 10px;
  }

  .button {
    font-size: var(--buttonSmTxtResp);
    padding: 0.4em 0;
    width: var(--buttonResp2);
  }
}