/* CSS for intro section */
.imageBackground {
    background-image: url('../public/assets/night_sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.imageBackground::before {
    content: '';
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.introContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.introLeftSide,
.introRightSide {
    z-index: 1;
    padding: 0 20px;
}

.introLeftSide {
    width: 40%;
}

.introRightSide {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileImgContainer {
    background-color: #444;
    border: 11px solid #444;
    box-shadow: 0 0 25px 0 rgb(0 0 0 / 80%);
    display: block;
    position: relative;
    padding-bottom: calc(100% - 20px);
    border-radius: 1000px;
    overflow: hidden;
}

.plofileImg {
    background-image: url("../public/assets/profile.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: block;
    position: absolute;
    top: -18px;
    bottom: -18px;
    width: auto;
    left: -18px;
    right: -18px;
    box-sizing: border-box;
    background-position-y: 34%;
}

.myTitle {
    color: #aaa;
}

.myName {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
}

.myButtons {
    margin-top: 20px;
    display: flex;
}

.myDescription {
    color: #d5d5d5;
    font-size: 14px;
    line-height: 1.75em;
}

.buttonPortfolio {
    border-color: #0a9b94;
    margin-right: 10px;
}

.buttonPortfolio:hover {
    background-color: #0a9b94;
}

.buttonContact {
    border-color: #D5D5D5;
}

.buttonContact:hover {
    background-color: #D5D5D5;
    color: #333;
}

.snsIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.snsIcons>a {
    margin: 0 5px;
}

/* media query */

/* Extra large devices */
@media screen and (min-width: 992px) {}

/* Large devices */
@media screen and (max-width: 991.98px) {}

/* Medium devices */
@media screen and (max-width: 767.98px) {
    .introContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .introLeftSide {
        width: 55%;
    }

    .myTitle {
        margin: 20px 0;
    }

    .myName {
        margin-bottom: 0;
    }

    .myButtons {
        flex-direction: column;
    }

    .snsIcons {
        margin: 20px 0 0 0;
        justify-content: center;
    }

    .snsIcons>a {
        margin: 0 10px;
    }

    .introRightSide {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Small devices */
@media screen and (max-width: 575.98px) {
    .myName {
        text-align: center;
    }

    .buttonPortfolio,
    .buttonContact {
        padding: 0.4em 1.1em;
    }

    .introLeftSide {
        width: 70%;
    }

}