.introWrapper {
  margin: 30px auto;
  width: 80%;
}

.introSection {
  position: relative; /*h1の中央寄せ配置の起点とするためのrelative*/
  height: 100vh; /*高さを全画面にあわせる*/
  background-color: #0e0d0dbf;
  background: -moz-linear-gradient(top, #0e0d0dbf 80%, var(--dfltBgClr));
  background: -webkit-linear-gradient(top, #0e0d0dbf 80%, var(--dfltBgClr));
  background: linear-gradient(to bottom, #0e0d0dbf 80%, var(--dfltBgClr));
}

.videoArea {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
}

.lpTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: var(--whiteClr);
  text-shadow: 0 0 6px #666666e6;
  -webkit-font-smoothing: antialiased;
}

.heading {
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}

.positionTitle {
  margin-top: 10px;
  color: #b9c2dc;
  line-height: 0.9;
}

.introMySelf {
  margin: 20px 0px 0px;
  max-width: 540px;
  color: #d8dadd;
  line-height: 1.5;
}

.checkMeButton {
  margin-top: 20px;
  background-color: #3e6d9ca3;
  border-color: var(--dfltTxtClr);
  font-weight: bold;
  background: linear-gradient(to left, var(--dfltBgClr) 50%, var(--dfltTxtClr) 50%) right;
  background-size: 200% 100%;
  text-shadow: 0 0 6px #666666e6;
}

.checkMeButton:hover {
  background-position: left;
  color: var(--dfltBgClr);
}
