/* CSS for portfolio section */

.portfolios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio {
    border-bottom: 1px solid rgb(53, 53, 53);
    padding: 20px;
    z-index: 1;
}

.portfolio p {
    color: #d5d5d5
}

.portfolioLink {
    color: #fff;
    text-decoration: none;
}

.portfolioLink:hover {
    text-decoration: underline;
}

.linkIcon {
    margin-left: 5px;
}

.portfolioGifContainer {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

/* media query */

/* Extra large devices */
@media screen and (min-width: 992px) {
    .portfolio {
        width: 70%
    }
}

/* Large devices */
@media screen and (max-width: 991.98px) {
    .portfolio {
        width: 80%
    }

    .portfolioGifContainer {
        width: 100%;
    }
}

/* Medium devices */
@media screen and (max-width: 767.98px) {}

/* Small devices */
@media screen and (max-width: 575.98px) {
    .portfolio {
        padding: 0px;
    }
}