/* CSS for portfolio section */

.portfolios {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 100px;
}

.portfolio:last-child {
  margin-bottom: 0px;
}

.portfolioReverse {
  flex-direction: row-reverse;
}

.portfolioTitle {
  font-size: 22px;
}

.portfolioTitleReverse {
  text-align: right;
}

.portfolioDetail {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}

.portfolioDetailReverse {
  grid-column: 7 / -1;
}

.portfolioLink {
  color: var(--whiteClr);
  text-decoration: none;
  transition: 0.3s;
}

.portfolioLink img {
  transition: 0.3s;
}

.portfolioLink:hover {
  color: var(--primaryClr);
}

.portfolioLink:hover img {
  filter: invert(42%) sepia(87%) saturate(4203%) hue-rotate(156deg) brightness(99%) contrast(92%);
}

.linkIcon {
  margin-left: 5px;
}

.linksContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: var(--whiteClr);
}

.linksContainerReverse {
  justify-content: flex-end;
}

.linksContainer a {
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}

.linksContainer a:hover {
  color: var(--primaryClr);
}

.linksContainer a:hover img {
  filter: invert(42%) sepia(87%) saturate(4203%) hue-rotate(156deg) brightness(99%) contrast(92%);
}

.linksContainer a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--primaryClr);
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: left bottom;
}

.linksContainer a:hover::after {
  transform: scale(1, 1);
}

.github {
  margin-left: 5px;
}

.githubLink {
  display: flex;
  align-items: center;
}

.slash {
  margin: 5px;
}

.portfolioGifContainer {
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.portfolioGif {
  border-radius: 5px;
}

.portfolioGifContainerReverse {
  grid-column: 1 / 8;
}

.radialBackground {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(6, 6, 6, 0.5);
  transition: 0.5s;
}

.radialBackgroundFullyVisible {
  background: transparent;
}

.appDesc {
  font-size: 17px;
  line-height: 1.6rem;
  box-shadow: var(--dfltCardBoxShdw);
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: var(--dfltBrdrRadius);
  background-color: var(--dfltCardClr);
  color: var(--dfltTxtClr);
  font-size: 18px;
  transition: 0.5s;
}

.appDescFullyVisible {
  color: var(--whiteClr);
}

.skillUsedContainer {
  display: flex;
  flex-wrap: wrap;
}

.skillUsedContainerReverse {
  justify-content: flex-end;
}

.skillUsed {
  color: var(--primaryDarkClr);
  border: solid 2px var(--primaryDarkClr);
  border-radius: var(--dfltBrdrRadius);
  padding: 4px;
  margin-right: 4px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.skillUsedFullyVisible {
  color: var(--primaryClr);
  border: solid 2px var(--primaryClr);
}

/* media query */

/* Larger than Extra large devices */
/* @media screen and (min-width: 1440px) {
} */

/* Extra large devices */
@media screen and (min-width: 1100px) {
  .skillUsedContainer {
    padding-right: 70px;
  }

  .skillUsedContainerReverse {
    padding-right: 0;
    padding-left: 70px;
  }
}

/* Large devices */
@media screen and (max-width: 991.98px) {
  .portfolio {
    /* width: 80%; */
  }

  .skillUsedContainer {
    padding-right: 50px;
  }

  .skillUsedContainerReverse {
    padding-right: 0;
    padding-left: 50px;
  }

  .portfolioGifContainer {
    width: 100%;
  }
}

/* Medium devices */
@media screen and (max-width: 767.98px) {
  .portfolio {
    z-index: 1;
    display: flex;
    margin: 0 0 70px 0;
    flex-direction: column;
  }

  .portfolioTitleReverse {
    text-align: center;
  }

  .linksContainer {
    justify-content: center;
  }

  .skillUsedContainer,
  .skillUsedContainerReverse {
    width: 100%;
    justify-content: center;
    padding: 0;
  }

  .portfolioDetail {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .portfolioGifContainer {
    justify-content: center;
  }

  .radialBackground {
    background: transparent
  }

  .appDesc {
    color: var(--whiteClr);
  }

  .skillUsed {
    color: var(--primaryClr);
    border: solid 2px var(--primaryClr);
  }
}

/* Small devices */
@media screen and (max-width: 575.98px) {
  .portfolio {
    flex-direction: column;
    padding: 0px;
  }

  .appDesc {
    font-size: 15px;
  }
}