.wrapper {
    margin: 60px auto;
}

.imageSection {
    height: 450px;
    position: relative;
}

.portfolioImage {
    top: 40px;
    position: absolute;
}

.descriptionSection {
    border-radius: 10px;
    background-color: var(--dfltCardClr);
} 

/* media query */

/* Larger than Extra large devices */
@media screen and (min-width: 1440px) {
    .wrapper {
      width: 60%;
      max-width: 1000px;
    }
  }
  
  /* Extra large devices */
  @media screen and (max-width: 1439px) {
    .wrapper {
      width: 80%;
      max-width: 1300px;
    }
  }
  
  /* Large devices */
  @media screen and (max-width: 991.98px) {
    .wrapper {
      width: 90%;
    }
  }
  
  /* Medium devices */
  @media screen and (max-width: 767.98px) {  
    .wrapper {
      margin: 30px auto;
    }

  }
  
  /* Small devices */
  @media screen and (max-width: 575.98px) {
  }
  