/* CSS for skill section */

.skills {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.skillContainer {
  width: 50%;
  z-index: 1;
  padding: 10px;
}

.skill {
  display: flex;
  background-color: var(--dfltCardClr);
  box-shadow: var(--dfltCardBoxShdw);
  height: 100%;
  padding: 10px;
  border-radius: var(--dfltBrdrRadius);
  background: -moz-linear-gradient(top right, var(--dfltCardClr) 70%, #345c88);
  background: -webkit-linear-gradient(top right,  var(--dfltCardClr) 70%, #345c88);
  background: linear-gradient(to top left, var(--dfltCardClr) 70%, #345c88);
}

.skill:hover {
  transition: 0.5s;
  transform: translateY(-4px);
  color:var(--whiteClr);
}

.skillDescription {
  padding: 0 20px;
}

.skillDescription > h4 {
  color: var(--whiteClr);
}

.skillDescription > p {
  line-height: 1.5;
}

.skillName {
  font-size: 18px;
  margin: 7px 0;
}

/* media query */

/* Extra large devices */
@media screen and (min-width: 992px) {
}

/* Large devices */
@media screen and (max-width: 991.98px) {
}

/* Medium devices */
@media screen and (max-width: 767.98px) {
  .skills {
    flex-direction: column;
  }

  .skillContainer {
    width: 100%;
    margin-top: 0;
  }

  .langImage span {
    width: 60px !important;
    height: 60px !important;
  }
}

/* Small devices */
@media screen and (max-width: 575.98px) {
}
